@font-face {
    font-family: ProximaNovaExCnThin;
    src: url(../css/fonts/Proxima-Nova-ExCn-Thin.otf);
}

@font-face {
    font-family: ProximaNovaCnThin;
    src: url(../css/fonts/Proxima-Nova-Cond-Thin.otf);
}

@font-face {
    font-family: GillSansIt;
    src: url(../css/fonts/Gill-Sans-Italic.ttf);
}

@font-face {
    font-family: GillSansReg;
    src: url(../css/fonts/Gill-Sans.ttf);
}