//
$center: 0 auto;

//width and height
$site-width: 980px;
$banner-footer-width: 1280px;
$banner-height: 500px;
$footer-height: 100px;
$home-form-width: 818px;

//site colors
$site-blue: #79ADDC;
$site-white: #FFFFFF;
$site-black: #000000;

//buttons

