.dropbox-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;;
    height: 58px;

    .drop-title {
        font-family: "GillSansReg";
        font-size: 18px;
    }

    .dropbox {
        display: flex;
        height: 58px;
        width: 103px;
        border: 2px solid $site-blue;

        .drop-desc {
            font-family: "GillSansReg";
            font-size: 18;
            text-align: center;
            margin: auto;
        }

        i {
            margin: 13px auto;
            font-size: 25px;
        }
    }
}