footer {
    width: $banner-footer-width;
    height: 100px;
    background-color: $site-blue;
    margin: $center;
    margin-top: 100px;
    

    .footer-container {
        margin: $center;
        padding-top: 35px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $site-white;
        width: $site-width;

        .logo {
            width: 92px;
            height: 42px;
            border: solid white 2px;
            color: $site-white;
            text-align: center;
            padding-top: 5px;
            font-family: "GillSansReg";
            font-size: 20px;
        }
    
        .copy {
            font-family: "GillSansReg";
            font-size: 12px;
        }
    
        .socials {
            font-size: 22px;
        }
    }
    
}